#Ignore all installed node modules and package-locks
node_modules/
/src/nodejs/*/package-lock.json

#Ignore all dynamic and generated components
/terraform/main.tf
/terraform/apigateway/main.tf
/terraform/apigateway/main.tf.json
/terraform/apigateway/openapi.json
/terraform/apigateway/schema.json
/terraform/lambda/layers.tf
/terraform/lambda/override.tf
/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraformtfplan
jsdoc/
apidoc/

#Ignore eslint and jest outputs
eslint.json
jest.json

#Ignore installation artifacts
/lambda/artifacts
*.zip
*.tgz
*.gz
*.tar

#Ignore folder of test scripts
/test-scripts
