#Ignore all installed node modules and package-locks
node_modules/
package-lock.json

#Ignore all dynamic and generated components
/main.tf
/apigateway/main.tf
/apigateway/main.tf.json
/apigateway/openapi.json
/apigateway/schema.json
/lambda/layers.tf
/lambda/override.tf
/.terraform/
/terraform.tfstate
/terraform.tfstate.backup
tfplan
jsdoc/
apidoc/

#Ignore eslint and jest outputs
eslint.json
jest.json

#Ignore installation artifacts
/lambda/artifacts
*.zip
*.tgz
*.gz
*.tar

#Ignore folder of test scripts
/test-scripts
